body{
    font-family: "Barlow Semi Condensed", sans-serif;
    font-style: normal;
    background-color: #edf2f8;
    min-height: 100vh;
}
.container{
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
    
}
.card{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 2rem;
    padding: 1.3rem;
    text-align: start;
    box-shadow: 0px 10px 20px 0px #989faa
}
.profile{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}
.profile img{
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}
.profile h2{
    margin-left: 1rem;
    font-size: 0.6rem;
    font-weight: normal;

}

.purple{
    background-color: hsl(263, 55%, 52%);
    color: #ffffff;
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x:right;

}
.purple .profile h2 span{
    color: #b38cf7;
}
.purple img{
    border: 1px solid #a87be0;
}
.bold{
    font-weight: 500;
    font-size: 1.3rem;
    margin: 0.5rem 0 0 0;
}
.purple .light{
    color: #b38cf7;
}
.grey{
    background-color: #49556b;
    color: white;
}
.black{
    background-color: #18202d ;
    color: white;
}
.black .profile img{
    border: 1px solid purple;
}
.grey .light ,.grey .profile h2 span , .black .profile h2 span, .black .light{
    color: #c4cdde;
}
.white, .white-last{
    background-color: #ffffff;
}
.white .profile h2 span , .white .light, .white-last .profile h2 span , .white-last .light{
    color: #b2b3b8;
}
@media (min-width: 680px) {
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        padding: 9rem;
        align-items: stretch;
        max-width: 78.25rem;
    }
    .card{
        margin: 0;
    }
    
    .purple {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    
    .grey {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    
    .white-last {
        grid-column: 4 ;
        grid-row: 1 / 3;
    }
    
    .black {
        grid-column: 2 / 4; 
        grid-row: 2 / 3;
    }
    .white {
        grid-column: 1 / 2; 
        grid-row: 2 / 3;
    }
}
